extends layout

block content
    .container
        // HEADER AND ACTIVITY COUNT
        .jumbotron.text-center
            h1
                | There are
                span.label.label-info=  activityCount
                |  activities in your project
        div
            table
                tr
                    th
                        label(for="description") Activity
                    th
                        label(for="OT") Optimistic
                    th
                        label(for="MLT") Most Likely
                    th
                        label(for="PT") Pessimistic
                    th(id="ET") Expected
                each activity in activities
                    tr
                        td= activity.description
                        td= activity.OT
                        td= activity.MLT
                        td= activity.PT
                        td= (parseFloat(activity.ET)).toFixed(2)
                tr
                    form(name='Activities', action="/" method="post")
                        td
                            input(type='text', id='description', name="description" )
                        td
                            input(type='number', id='OT', name="OT" )
                        td
                            input(type='number', id='MLT', name="MLT")
                        td
                            input(type='number', id='PT', name="PT")
                        td
                            button(type="submit").ui.blue "Add"
    if locals.flash && locals.flash.error
        p=flash.error